.clock,
.to-do-list,
.greetings,
form {
    text-align: center;
}

.clock {
    margin-bottom: 20px;
}

.greetings {
    margin-bottom: 10px;
    font-size: 40px;
}

.form,
.greetings {
    display: none;
}

.form {
    margin-bottom: 10px;
}

.form input {
    font-size: 30px;
}

.showing {
    display: block;
}